@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif;
    color: #45452c;
}

b {
  font-weight: 600;
  color: #094d85;
}

.ig-object {
	z-index: 9999;
    position:fixed;
    right:15px;
    bottom:0;
    box-shadow:0 0 0.1em #000;
}

.ig-closed {
	z-index: 9999;
    width: 310px;
    height: 35px;
    background: #eff0f1;
    line-height: 25px; 
    font-size: 14px;
    text-align: left;
    border:1px solid #777;
    color: #190f08;
}

.ig-header {
	z-index: 9999;
    width: 310px;
    height: 35px;
    background: #eff0f1; 
    line-height: 25px;
    font-size: 14px;
    text-align: left;
/*    text-indent: 20px; */
    border:1px solid #777;
    border-bottom:none;
	color: #190f08;
}

.ig-content{
	z-index: 9999;
    width:310px;
    height:300px;
    background:#ffffff;
    border:1px solid #777;
    overflow-y:auto;
    word-wrap: break-word;
}

.ig-opt1{
  display: inline-block;
  margin-top: 2px;
  margin-left: 2px;
  width: 98px;
  height: 34px;
  border:1px solid #777;
}
.ig-opt1:hover {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.ig-opt2{
  display: inline-block;
  margin-top: 2px;
  margin-left: 1px;
  width: 98px;
  height: 34px;
  border:1px solid #777;
}
.ig-opt2:hover {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.ig-opt3{
  display: inline-block;
  margin-top: 2px;
  margin-left: 1px;
  width: 98px;
  height: 34px;
  border:1px solid #777;
}
.ig-opt3:hover {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

.ig-panel1{
    width:303px;
    height:25px;
	margin-top: 2px;
	margin-left: 2px;
	text-align: center;
    background:#ffffff;
    border:1px solid #777;
    overflow-y:auto;
    word-wrap: break-word;
}
.ig-panel2{
    width:303px;
    height:25px;
	margin-top: 2px;
	margin-left: 2px;
	text-align: center;
    background:#ffffff;
    border:1px solid #777;
    overflow-y:auto;
    word-wrap: break-word;
}
.ig-panel3{
    width:303px;
    height:25px;
	margin-top: 2px;
	margin-left: 2px;
	text-align: center;
    background:#ffffff;
    border:1px solid #777;
    overflow-y:auto;
    word-wrap: break-word;
}

.symbol{
    width:10px;
    height:10px;
    background: #00FF00;
	  display: inline-block;
/*    float:left; */
/*    position:relative; */
/*    top: 11px;
    left: 10px;*/
    border:1px solid #008b00;
}

.hide {
    display:none;
}

